<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @user.name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @user.email %>
</p>

<% @user.microposts.each_with_index do |micropost, index| %>
  <p>
    <%=index %>. <%= micropost.content %>
  </p>
<% end %>

<% if @user.microposts.length == 0 %>
  <p>This user has no microposts</p>
<% end %>

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
